<section class="section-info">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <div class="container-inner"><h2 class="h2">Всегда <span>намного больше</span></h2></div>
            </div>
            <div class="col-12 col-lg-10">
                <div class="accordion" id="info-accordion">
                    <div class="info-block">
                        <div class="container-inner">
                            <div class="info-img"><img src="assets/images/icons/icon01.svg"></div>
                            <div>
                                <div class="info-header" id="info-title1" data-toggle="collapse" data-target="#info1" aria-expanded="false" aria-controls="info1">
                                    <div class="info-title">Улыбка начинается с дизайна</div>
                                </div>
                                <div class="info-body collapse" id="info1" aria-labelledby="info-title1" data-parent="#info-accordion">
                                    <div class="text-regular">
                                        Чтобы создать для вас красивую улыбку, мы вас фотографируем, снимаем на видео, общаемся и фиксируем мимику. Дизайн улыбки разрабатывается c учётом вашей внешности, поэтому она вам так идёт и выглядит естественно.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="container-inner">
                            <div class="info-img"><img src="assets/images/icons/icon01.svg"></div>
                            <div>
                                <div class="info-header" id="info-title2" data-toggle="collapse" data-target="#info2" aria-expanded="false" aria-controls="info2">
                                    <div class="info-title">Боль — пережиток прошлого</div>
                                </div>
                                <div class="info-body collapse" id="info2" aria-labelledby="info-title2" data-parent="#info-accordion">
                                    <div class="text-regular">
                                        Чтобы создать для вас красивую улыбку, мы вас фотографируем, снимаем на видео, общаемся и фиксируем мимику. Дизайн улыбки разрабатывается c учётом вашей внешности, поэтому она вам так идёт и выглядит естественно.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="container-inner">
                            <div class="info-img"><img src="assets/images/icons/icon01.svg"></div>
                            <div>
                                <div class="info-header" id="info-title3" data-toggle="collapse" data-target="#info3" aria-expanded="false" aria-controls="info3">
                                    <div class="info-title">Врач становится приятелем</div>
                                </div>
                                <div class="info-body collapse" id="info3" aria-labelledby="info-title3" data-parent="#info-accordion">
                                    <div class="text-regular">
                                        Чтобы создать для вас красивую улыбку, мы вас фотографируем, снимаем на видео, общаемся и фиксируем мимику. Дизайн улыбки разрабатывается c учётом вашей внешности, поэтому она вам так идёт и выглядит естественно.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="container-inner">
                            <div class="info-img"><img src="assets/images/icons/icon01.svg"></div>
                            <div>
                                <div class="info-header" id="info-title4" data-toggle="collapse" data-target="#info4" aria-expanded="false" aria-controls="info4">
                                    <div class="info-title">Лечение не вредит стилю жизни</div>
                                </div>
                                <div class="info-body collapse" id="info4" aria-labelledby="info-title4" data-parent="#info-accordion">
                                    <div class="text-regular">
                                        Чтобы создать для вас красивую улыбку, мы вас фотографируем, снимаем на видео, общаемся и фиксируем мимику. Дизайн улыбки разрабатывается c учётом вашей внешности, поэтому она вам так идёт и выглядит естественно.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="container-inner">
                            <div class="info-img"><img src="assets/images/icons/icon01.svg"></div>
                            <div>
                                <div class="info-header" id="info-title5" data-toggle="collapse" data-target="#info5" aria-expanded="false" aria-controls="info5">
                                    <div class="info-title">Стратегия формируется на консилиуме</div>
                                </div>
                                <div class="info-body collapse" id="info5" aria-labelledby="info-title5" data-parent="#info-accordion">
                                    <div class="text-regular">
                                        Чтобы создать для вас красивую улыбку, мы вас фотографируем, снимаем на видео, общаемся и фиксируем мимику. Дизайн улыбки разрабатывается c учётом вашей внешности, поэтому она вам так идёт и выглядит естественно.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>