<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="assets/custom/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/custom/swiper/css/swiper.min.css">
        <link rel="stylesheet" href="css/style.css">

        <title></title>
    </head>
    <body>
        <div class="mobile-helper">
            <div class="container">
                <div class="row">
                    <div class="col helper-block">
                        <div class="helper-wrapper">
                            <a href="#" class="btn btn-square btn-marker"></a>
                            <a href="#" class="btn btn-square btn-phone"></a>
                        </div>
                        <a href="#" class="btn btn-signup">Записаться онлайн</a>
                    </div>
                </div>
            </div>
        </div>
        <!--header-->
        <header class="header">
            <div class="container">
                <nav class="navbar">
                    <div class="navbar-left">
                        <a href="/"><img class="logo" src="assets/images/logo.svg"></a>
                        <div class="languages">
                            <a href="#" class="link-lang active">CZ</a>
                            <a href="#" class="link-lang">En</a>
                        </div>
                    </div>
                    <div class="navbar-right">
                        <a href="tel:495656561344" class="link-phone link-header">+49 565 656 13 44</a>
                        <a href="#" class="btn btn-header">Записаться онлайн</a>
                        <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#navmenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </nav>
            </div>
        </header>
        <!--Modal-->
        <div class="modal fade" id="navmenu" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-menu">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="technologies.html" class="menu-link">Технологии</a></li>
                        <li class="menu-item"><a href="team.html" class="menu-link">Команда</a></li>
                        <li class="menu-item"><a href="guarantees.html" class="menu-link">Гарантии</a></li>
                        <li class="menu-item"><a href="services.html" class="menu-link">Услуги</a></li>
                        <li class="menu-item"><a href="prices.html" class="menu-link">Цены</a></li>
                        <li class="menu-item"><a href="firstvisit.html" class="menu-link">Первый визит</a></li>
                        <li class="menu-item"><a href="works.html" class="menu-link">Наши работы</a></li>
                        <li class="menu-item"><a href="club.html" class="menu-link">Smile Life</a></li>
                        <li class="menu-item"><a href="contacts.html" class="menu-link">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>