<section class="section-online">
    <div class="container">
        <div class="container-inner">
            <h2 class="h2">Онлайн-запись <span>на прием</span></h2>
        </div>
        <div class="row">
            <div class="col-right col-12 col-md-6 col-lg-5 order-1 order-md-2 order-lg-3">
                <div class="container-inner-right">
                    <div class="img-container online-img">
                        <div class="img-gradient top-left"></div>
                        <img src="assets/images/img-online.jpg">
                    </div>
                </div>
            </div>
            <div class="col-left col-12 col-md-6 col-lg-7 order-2 order-md-1 order-lg-1">
                <div class="container-inner-left">
                    <div class="online-text">
                        <h4 class="h4">Меня зовут Карина, я буду вашим личным smile-guide</h4>
                        <div class="text-regular">
                            В клинике White мы одинаково заботимся о красоте вашей улыбки и комфортности всего лечения. Всё начнётся
                            с первого приёма. На нём вы познакомитесь со своим стоматологом и пройдёте диагностику. Мы узнаем, что
                            вас беспокоит и в каком состоянии находятся ваши зубы. После этого начнётся ваш путь к идеальной улыбке.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-left col-12 col-lg-7 order-3 order-lg-2">
                <div class="signup">
                    <div class="container-inner">
                        <div class="row">
                            <div class="col-12 col-md-9 col-lg-12">
                                <h4 class="h4">Для записи на прием оставьте онлайн заявку или позвоните по телефону:</h4>
                            </div>
                            <div class="col-12 col-xl-10 signup-wrapper">
                                <a href="tel:495656561344" class="link-phone order-1 order-md-2">+49 565 656 13 44</a>
                                <a href="#" class="btn btn-link order-2 order-md-1">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>