<section class="section-review">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="img-container reviews-img">
                    <div class="swiper-container swiper-img swiper-img-review">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="img-gradient top-left"></div>
                                <img src="assets/images/img-service-1.jpg">
                            </div>
                            <div class="swiper-slide">
                                <div class="img-gradient top-left"></div>
                                <img src="assets/images/img-service-2.jpg">
                            </div>
                            <div class="swiper-slide">
                                <div class="img-gradient top-left"></div>
                                <img src="assets/images/img-service-1.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 ml-auto feedback-wrapper">
                <div class="text-container">
                    <div class="swiper-container swiper-feedback">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h2 class="h2">Результаты и отзывы</h2>
                                <div class="text-regular">
                                    Добавлю, что диониссийское начало образует неизменный механизм эвокации. Энтелехия иллюстрирует горизонт ожидания.
                                    Трагическое образует элитарный психологический параллелизм. Фантазия, в том числе, вызывает классицизм.
                                </div>
                                <div class="h4-var">КАРИНА Литвиненко, Карловы Вары</div>
                            </div>
                            <div class="swiper-slide">
                                <h2 class="h2">Результаты и отзывы</h2>
                                <div class="text-regular">
                                    Добавлю, что диониссийское начало образует неизменный механизм эвокации. Энтелехия иллюстрирует горизонт ожидания.
                                    Трагическое образует элитарный психологический параллелизм. Фантазия, в том числе, вызывает классицизм.
                                </div>
                                <div class="h4-var">КАРИНА Литвиненко, Карловы Вары</div>
                            </div>
                            <div class="swiper-slide">
                                <h2 class="h2">Результаты и отзывы</h2>
                                <div class="text-regular">
                                    Добавлю, что диониссийское начало образует неизменный механизм эвокации. Энтелехия иллюстрирует горизонт ожидания.
                                    Трагическое образует элитарный психологический параллелизм. Фантазия, в том числе, вызывает классицизм.
                                </div>
                                <div class="h4-var">КАРИНА Литвиненко, Карловы Вары</div>
                            </div>
                        </div>
                        <div class="feedback-navigation">
                            <div class="feedback-nav-prev"></div>
                            <div class="feedback-pagination"></div>
                            <div class="feedback-nav-next"></div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn">Узнать подробнее</a>
            </div>
        </div>
    </div>
</section>