<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 order-1 order-md-2">
                <div class="img-container tech-img">
                    <div class="swiper-container swiper-img swiper-img-tech">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="img-gradient top-left"></div>
                                <img src="assets/images/img-service-1.jpg">
                            </div>
                            <div class="swiper-slide">
                                <div class="img-gradient top-left"></div>
                                <img src="assets/images/img-service-2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-7 mr-auto order-2 order-md-1">
                <div class="text-container">
                    <div class="swiper-container swiper-text">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h2 class="h2">Технологии</h2>
                                <h3>3SHAPE</h3>
                                <div class="text-regular">
                                    Прибор, с которым вы познакомитесь на первом визите. Эта «волшебная палочка» полностью сканирует ротовую
                                    полость и создаёт её 3д-модель. Мы видим на компьютере вашу форму зубов, состояние эмали, кариес, прикус
                                    и другие характеристики. Цифровая модель остаётся в базе и помогает нам создавать для вас коронки,
                                    имплантаты, виниры, то есть — идеальную улыбку, которая точно совпадает с вашими ожиданиями.
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <h2 class="h2">Технологии</h2>
                                <h3>3SHAPE</h3>
                                <div class="text-regular">
                                    Прибор, с которым вы познакомитесь на первом визите. Эта «волшебная палочка» полностью сканирует ротовую
                                    полость и создаёт её 3д-модель. Мы видим на компьютере вашу форму зубов, состояние эмали, кариес, прикус
                                    и другие характеристики. Цифровая модель остаётся в базе и помогает нам создавать для вас коронки,
                                    имплантаты, виниры, то есть — идеальную улыбку, которая точно совпадает с вашими ожиданиями.
                                </div>
                            </div>
                        </div>
                        <div class="text-navigation">
                            <div class="text-pagination"></div>
                            <div class="text-scrollbar"></div>
                            <div class="text-nav-prev"></div>
                            <div class="text-nav-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>